body {
    background-color: $black;
    margin: 0 auto;
    color: $white;
}

a {
    &:link,
    &:visited {
        color: $white;
        text-decoration: none;
    }
    &:hover {
        color: $light-yellow;
    }
}