body {
    background-color: $black;
    margin: 0 auto;
    color: $white;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 4em;
}

a {
    &:link,
    &:visited {
        color: $white;
        text-decoration: none;
    }
    &:hover {
        color: $light-yellow;
    }
}

::-webkit-scrollbar {
    width: 8px;
    &-thumb {
        background-color: $dark-yellow;

        &:hover {
            background-color: $light-yellow;
        }
    }
    &-track {
        background-color: $black;
    }
}