.bu-head {
   background-color: $dark-yellow;
   padding: 0.2em 0.5em;
   border-radius: 10px;
   border: none;

   &:hover {
      color: $dark-purple;
   }
}

#deco {
   color: $white;
   font-size: 1em;
   cursor: pointer;

   &:hover {
      color: $dark-purple;
   }
}