/* -- COLORS -- */

$black : #141414;
$light-purple : #9678F5;
$dark-purple : #453287;
$light-yellow : #F4E861;
$dark-yellow : #F5B849;
$white : #F5F5F5;

/* -- BACKGROUND -- */

$bg-image : url('/src/Sky-bg.jpg')