/* -- COLORS -- */

$black : #141414;
$black-op : #14141480;
$light-purple : #9678F5;
$dark-purple : #453287;
$light-yellow : #F4E861;
$dark-yellow : #F5B849;
$white : #F5F5F5;
$white2 : #d4d4d4;

/* -- BACKGROUND -- */

$bg-image : url('/Astra/src/Sky-bg.jpg');
$bg-purple-gradiant : linear-gradient(to right bottom, #9678f5, #8166d8, #6d54bc, #5943a1, #453287);
$bg-purple-gradiant-rev : linear-gradient(to right bottom, #453287, #5943a1, #6d54bc, #8166d8, #9678f5);
