@charset "UTF-8";
/* -- IMPORTS -- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Syncopate&display=swap");
/* -- COLORS -- */
/* -- BACKGROUND -- */
body {
  background-color: #141414;
  margin: 0 auto;
  color: #F5F5F5;
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 4em;
}

a:link, a:visited {
  color: #F5F5F5;
  text-decoration: none;
}
a:hover {
  color: #F4E861;
}

.logo {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1, .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bu-head {
  background-color: #F5B849;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  border: none;
}

/* -- HEADER -- */
header {
  background-image: linear-gradient(to right bottom, #9678f5, #8166d8, #6d54bc, #5943a1, #453287);
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  padding: 0 1em;
}

/* -- FOOTER -- */
footer {
  background-image: linear-gradient(to right bottom, #9678f5, #8166d8, #6d54bc, #5943a1, #453287);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

/* -- SECTION PLANET --*/
#planet {
  background-image: url("/src/Sky-bg.jpg");
  display: flex;
  align-items: center;
}
#planet img {
  max-width: 55%;
  object-fit: contain;
}
#planet p {
  font-size: 4rem;
  width: 35%;
  line-height: 1.5em;
  background-color: rgba(20, 20, 20, 0.5019607843);
  padding: 0.5em 1em;
}

/* -- CARROUSSEL -- */
#swiper-box {
  margin: 4em auto;
  max-width: 1100px;
  background-image: linear-gradient(to right bottom, #453287, #5943a1, #6d54bc, #8166d8, #9678f5);
  border-radius: 30px;
  padding: 1em 3em;
}
#swiper-box h1 {
  color: #F5B849;
  font-size: 2em;
}

.swiper {
  width: 100%;
  height: 300px;
}
.swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-slide a p {
  font-size: 1.5em;
}
.swiper-slide img {
  max-width: 12em;
}
.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}
.swiper-button-next i, .swiper-button-prev i {
  color: #F5B849;
  font-size: 2em;
}

/* -- AFFICHAGE TOUTES LES PLANETES -- */
#all-planets {
  display: flex;
}

main {
  position: relative;
  height: 100%;
}

#filter {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  color: #141414;
  width: 15%;
  bottom: 0;
  top: 0;
  position: absolute;
}

#planets {
  position: relative;
  max-width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 15%;
}
#planets img {
  width: 10em;
}
#planets a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* -- CONNEXION / INSCRIPTION -- */
.log {
  background-image: linear-gradient(to right bottom, #453287, #5943a1, #6d54bc, #8166d8, #9678f5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 2em;
  padding-bottom: 2em;
  border-radius: 15px;
}
.log p {
  font-size: 1.5em;
}
.log form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log input[type=submit] {
  padding: 0.5em 1em;
  color: #F5F5F5;
  font-size: 1.1em;
}
.log input[type=submit]:hover {
  color: #F4E861;
}

.log-inp {
  position: relative;
}
.log-inp span {
  position: absolute;
  top: 40%;
  left: 1.5em;
}
.log-inp span i {
  color: #141414;
}
.log-inp input {
  margin: 0.75em 1em 0 1em;
  padding: 0.7em;
  padding-left: 2.5em;
  border: none;
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* -- CRÉATION DE PLANETE -- */
.box-form {
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
  color: #141414;
  max-width: 1150px;
}
.box-form h1 {
  color: #453287;
  text-align: center;
}
.box-form span {
  color: #F5B849;
}
.box-form input[type=file] {
  color: #141414;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #141414;
}
.box-form input[type=file]::file-selector-button {
  margin-right: 8px;
  border: none;
  background-color: #9678F5;
  padding: 8px 12px;
  cursor: pointer;
}
.box-form input[type=file]::file-selector-button:hover {
  background-color: #453287;
}

/*# sourceMappingURL=main.css.map */
