/* -- IMPORTS -- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Syncopate&display=swap');
@import 'variables';
@import 'base';
@import 'fonts';
@import 'buttons';

/* -- HEADER -- */

header {
    background-image: $bg-purple-gradiant;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;

    nav {
        display: flex;
        align-items: center;

        a {
            padding: 0 1em;
        }
    }
}

/* -- FOOTER -- */

footer {
    background-image: $bg-purple-gradiant;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin: 0;
        font-size: 1.5em;
    }
}


/* -- SECTION PLANET --*/

#planet {
    background-image: $bg-image;
    display: flex;
    align-items: center;

    img {
        max-width: 55%;
        object-fit: contain;
    }

    p {
        font-size: 4rem;
        width: 35%;
        line-height: 1.5em;
        background-color: $black-op;
        padding: 0.5em 1em;
    }
}

/* -- CARROUSSEL -- */

#swiper-box {
    margin: 4em auto;
    max-width: 1100px;
    background-image: $bg-purple-gradiant-rev;
    border-radius: 30px;
    padding: 1em 3em;

    h1 {
        color: $dark-yellow;
        font-size: 2em;
    }
}

.swiper {
    width: 100%;
    height: 300px;

    &-slide {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.5em;
            }
        }

        img {
            max-width: 12em;
        }
    }

    &-button-next,
    &-button-prev {
        &::after {
            display: none;
        }

        i {
            color: $dark-yellow;
            font-size: 2em;
        }
    }
}



/* -- AFFICHAGE TOUTES LES PLANETES -- */

main {
    position: relative;
    height: 100%;
}

#filter {
    display: flex;
    flex-direction: column;
    background-color: $white;
    color: $black;
    width: 15%;
    bottom: 0;
    top: 0;
    position: absolute;
    padding-left: 1.5em;

    h3 {
        cursor: pointer;
    }
}

#planets {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 15%;
    width: 85%;
    grid-gap: 40px;
    padding-top: 30px;

    img {
        max-width: 16em;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

/* -- CONNEXION / INSCRIPTION -- */

.log {
    background-image: $bg-purple-gradiant-rev;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 2em;
    padding-bottom: 2em;
    border-radius: 15px;

    p {
        font-size: 1.5em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type=submit] {
        padding: 0.5em 1em;
        color: $white;
        font-size: 1.1em;

        &:hover {
            color: $light-yellow;
        }
    }
}

.log-inp {
    position: relative;

    span {
        position: absolute;
        top: 40%;
        left: 1.5em;

        i {
            color: $black;
        }
    }

    input {
        margin: 0.75em 1em 0 1em;
        padding: 0.7em;
        padding-left: 2.5em;
        border: none;
        border-radius: 10px;
        background-color: $white;
    }
}

/* -- CRÉATION DE PLANETE -- */

.box-form {
    margin: 1.5em auto 0 auto;
    background-color: $white;
    color: $black;
    max-width: 1050px;
    padding: 0.5em 3em 2em 3em;
    border-radius: 35px;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.7em;

        input,
        textarea,
        select {
            margin-top: 0.3em;
            background-color: white;
            border: none;
            border: 1px solid $black-op;
            padding: 0.5em 1.5em 0.5em 1.5em;
            border-radius: 10px;
            max-width: fit-content;

            &:focus {
                border: none;
                border: 2px solid $light-purple;
                outline: none;
            }
        }
    }

    #buAddGalaxy {
        position: relative;
    }

    .checkElmt {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        div {
            display: flex;
            flex-direction: row;
        }
    }

    h2 {
        color: $dark-purple;
        text-align: center;
    }

    span {
        color: $dark-yellow;
    }

    input[type=file] {
        color: $black;
        padding: 8px 12px;
        background-color: white;
        border: 1px solid $black-op;

        &::file-selector-button {
            margin-right: 8px;
            border: none;
            background-color: $light-purple;
            padding: 8px 12px;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
                background-color: $dark-purple;
                color: white;
            }
        }
    }
}

#addGalaxy {
    position: absolute;
    top: 390px;
    left: 37%;

    input[type=text] {
        margin-top: 0.3em;
        background-color: white;
        border: none;
        border: 1px solid $black-op;
        padding: 0.5em 1.5em 0.5em 1.5em;
        border-radius: 10px;
        max-width: fit-content;

        &:focus {
            border: none;
            border: 2px solid $light-purple;
            outline: none;
        }
    }
}

/* -- AFFICHAGE PLANETE -- */

#oneplanet {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

    li {
        list-style: none;
    }

    // margin-top: 4em;

    h4 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}

#desc {
    padding-left: 3em;
    padding-top: 6em;
}

#planetName {
    font-size: 90px;
    font-weight: 900;
}

#visu {
    margin-left: auto;
    margin-right: auto;

    img {
        max-width: 700px;
        position: relative;
    }

    h1 {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto 0;
        padding: 0;
    }
}

#infos {
    padding-right: 3em;
    text-align: end;
    padding-top: 6em;
}